body {
    margin: 0;
    font-family: "Didact Gothic", sans-serif;
    background-color:#f0f3f1;
  }
  
  a {
    text-decoration: none !important;
    color: #fff !important;
  }
  p {
    margin-bottom: 3px;
  }
  h3,
  h4 {
    font-weight: 300;
    font-family: "Questrial", sans-serif;
  }
  
  .btn-orange {
    margin: 0 0 0 0px;
    padding: 9px 18px;
    font-size: 14px;
    display: inline-block;
    height: 40px;
    background: #343a40;
    color: #fff;
    font-weight: 700;
    line-height: 25px;
    vertical-align: baseline;
    border-radius: 3px;
  }
  .btn-orange:hover {
    color: white;
    background: #343a40;
  }
  .navbar {
    padding: 0;
  }
  .navbar-brand {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    font-size: 2rem;
    line-height: inherit;
    white-space: nowrap;
    font-weight: 300;
    color: #343a40;
  }
  
  .btn-outline-success {
    border: 2px solid #343a40;
  }
  .btn-outline-success:hover {
    background: #343a40;
    border: 2px solid #343a40;
  }
  
  .nav-fluid {
    background: aquamarine;
  }
  p.foo {
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
  }
  .col-right {
    text-align: -webkit-right;
  }
  .table thead th {
    vertical-align: bottom;
    border-bottom: 5px solid #343a40;
    font-size: 18px;
    text-transform: uppercase;
  }
  .table td,
  .table th {
    padding: 5px 0;
    vertical-align: top;
    border-top: none;
  }
  .form-control:focus,
  :focus-within {
    border-color: #343a40 !important;
    box-shadow: none;
  }
  .form-control {
    display: block;
    width: 100%;
    height: 32px;
    padding: 15px;
    font-size: 14px;
    font-weight: 100;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #343a40;
    border-radius: 2px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .my-btn {
    background: #343a40;
    padding: 7px 20px;
    border-radius: 2px;
    color: #fff;
  }
  .bg-dark {
    background-color: #646a6f40 !important;
  }
  li.nev-item a {
    color: black !important;
  }
  .input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 0;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    background-color: #343a40;
    border-radius: 0.25rem;
  }
  button:focus-within,
  :active,
  :active,
  :focus-visible {
    box-shadow: none;
  }
  